@page
@model Hangman.Pages.EnterPageModel
@{
    ViewData["Title"] = "EnterPage";
}

<h1>EnterPage</h1>

<form method="post">
    <div class="col-6">
        @*generování až 3 hráčů sem*@
        @{
            @for (int i = 0; i != Model.data.NumOfPlayers; i++)
            {
                <label>Nickname</label>
                <input asp-for="names[i]" />
            }
        }
        <div>
            <button></button>
        </div>
    </div>
</form>
