@page
@model Hangman.Pages.EnterPageModel
@{
    ViewData["Title"] = "EnterPage";
}

<h1>EnterPage</h1>

<div class="col-6">
    @*informace o tom kdo je na řadě atd..*@
    @*generování až 3 hráčů sem*@
</div>
<div class="col-6">
    @*Tady bude průběh hry*@
</div>