@page
@model Hangman.Pages.EnterPageModel
@{
    ViewData["Title"] = "EnterPage";
}

<h1>EnterPage</h1>

<form method="post">
    <div class="col-6">
        @*generování až 3 hráčů sem*@
        @{
            @for (int i = 1; i != Model.data.NumOfPlayers+1; i++)
            {
                <label>Player @i Nickname</label>
                <input asp-for="Names[i-1]" />
                <br />
            }
        }
        <div>
            <button class="bg-success" type="submit">PLAY</button>
        </div>
    </div>
</form>
