@page
@model Hangman.Pages.FinalPageModel
@{
    ViewData["Title"] = "FinalPage";
}
    
<form method="post">
    <div>
        @{
            if (Model.hg.data.Mistakes != 10)
            {
                <h2>You won!</h2>
            }
            if (Model.hg.data.Mistakes == 10)
            {
                <h2>You were hanged!</h2>
            }
        }
        <button class="bg-success" type="submit">PLAY AGAIN</button>
    </div>
</form>