@page
@model Hangman.Pages.FinalPageModel
@{
    ViewData["Title"] = "FinalPage";
}

<h1>FinalPage</h1>

    
<form method="post">
    <div>
        @{
            if (Model.data.Players.Count == 0)
            {
                <h2>Everyone was hanged!</h2>
            }
            if (Model.data.Winner != null && Model.data.Players.Count != 0)
            {
                <h2>Winner is: @Model.data.Winner</h2>
            }
        }
        <button class="bg-success" type="submit">PLAY AGAIN</button>
    </div>
</form>