@page
@model Hangman.Pages.GamePageModel
@{
    ViewData["Title"] = "GamePage";
}

<h1>Hangman</h1>

<div class="row">
    <div class="col-4">
            <div class="bg-light">
                <label>Player</label>
                <br />
                <p>mistakes: @Model.hg.data.Mistakes/10</p>
            </div>
    </div>
    <div class="col-4">
        @*Tady bude submit+input*@
        <form method="post">
            <label>Písmeno nebo celé slovo, které chcete hádat</label>
            <input asp-for="Guess" />
            <button class="bg-success" type="submit">Guess</button>
        </form>
    </div>
    <div class="col-4">
        @*Tady bude průběh hry*@
        @{
            for (int i = 0; i <  Model.hg.data.chars.Count; i++)
            {
                if (Model.hg.data.chars[i].IsVisible == false)
                {<label class="ml-1 mr-1">_</label>}
                if (Model.hg.data.chars[i].IsVisible == true)
                {<label>@Model.hg.data.chars[i].Pismeno</label>}
            }
        }
        <p>
            Already tried:@string.Join(",", Model.hg.data.Tried)
        </p>
    </div>
</div>