@page
@model Hangman.Pages.GamePageModel
@{
    ViewData["Title"] = "GamePage";
}

<h1>GamePage</h1>

<div class="col-6">
    @*informace o tom kdo je na řadě atd..*@
    @*generování až 3 hráčů sem*@
    @{
        @for (int i = 0; i != 3; i++)
        {
            <label>Nickname</label>
            <input />
            <p>texttext</p>
        }
    }
</div>
<div class="col-6">
    @*Tady bude průběh hry*@
</div>