@page
@model IndexModel
@{
    ViewData["Title"] = "Hangman";
}

<form method="post">
    <div>
        <label>Number of Players:</label>
        <input asp-for="numOfPlayers" />
        <button type="submit">Continue</button>
    </div>
</form>