@page
@model IndexModel
@{
    ViewData["Title"] = "Hangman";
}

<form method="post">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <label>Number of Players:</label>
            <input asp-for="NumOfPlayers" />
            <button class="bg-success" type="submit">Continue</button>
        </div>
        <div class="col-4"></div>
    </div>
</form>