@page
@model IndexModel
@{
    ViewData["Title"] = "Hangman";
}

<form method="post">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            @*<label>Number of Players:</label>
            <input asp-for="NumOfPlayers" />*@
            <button class="bg-success" style="height: 100px;" type="submit">PLAY</button>
        </div>

    </div>
</form>